<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="<APP_THEME_COLOR>" />
    <meta name="description" content="<APP_DESCRIPTION>">
    <link rel="icon" type="image/png" href="./images/icons-192.png">
    <link rel="manifest" href="./manifest.json">
    <link rel="stylesheet" href="./index.css">
    <script type="module" src="./index.js"></script>
    <title>
        <APP_NAME>
    </title>
</head>

<body>
    Hello, PWA template!
</body>

</html>